[submodule "brand"]
	path = brand
	url = git@github.com:OCA/brand.git
[submodule "product-variant"]
	path = product-variant
	url = git@github.com:OCA/product-variant.git
[submodule "product-attribute"]
	path = product-attribute
	url = git@github.com:OCA/product-attribute.git
